/* Palette url https://coolors.co/acbdba-cddddd-a599b5-2e2f2f-051014 */

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 1rem;
  background-color: #2E2F2F;
  color: #ACBDBA;
}

.links {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.links > a {
  color: #ACBDBA;
  text-decoration: none;
  margin-left: 1rem;
}

#cartico {
  filter: invert(85%) sepia(22%) saturate(112%) hue-rotate(119deg) brightness(84%) contrast(93%);
}

#root, .app {
  height: 100%;
}

.home {
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.intro {
  width: 65%;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.intro > * {
  margin: auto;
}

.intro > img {
  width: 80%;
  height: auto;
}

.intro > a {
  text-decoration: none;
  background-color: #2E2F2F;;
  color: #ACBDBA;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2px;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.intro > a:hover {
  color: white;
}

h2 {
  text-align: center;
  color: #2E2F2F;
  font-size: 3rem;
  font-weight: bolder;
}
